@charset "UTF-8";
.header-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  background-color: #ffffff;
  transition: top 0.3s;
}

.classy-nav-container a {
  -webkit-transition-duration: .5s;
  text-decoration: none;
  outline: 0;
  font-size: 18px;
}

.classy-nav-container a:focus, .classy-nav-container a:hover {
  -webkit-transition-duration: .5s;
  text-decoration: none;
  outline: 0;
  font-size: 18px;
}

ol li, ul li {
  list-style: none;
}

.nav_contact, .mob_nav_contact {
  font-size: 14px;
}

.nav_contact i, .mob_nav_contact i {
  background: #54B54A;
  border-radius: 4px;
  color: #FFF;
  margin: 0px 6px 0px 0px;
}

.mob_nav_contact {
  display: none;
  color: #FFF;
}

.nav_pay {
  text-align: center;
}

.nav_pay img {
  height: 40px;
  width: auto;
}

.nav-bg {
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px 10px 20px;
  background: #DEBA74;
}

.nav-bg ul li {
  padding: 0 30px;
}

.nav-bg ul li a {
  color: #ffffff;
}

.nav-bg ul li a:hover {
  color: #ffffff;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-transparent {
  background-color: transparent !important;
}

.classy-nav-container {
  position: relative;
  z-index: 100;
  background-color: #ffffff;
}

.classy-btn {
  background-color: #DEBA74;
}

.classy-nav-container.box-skins .classynav > ul > li {
  background-color: #DEBA74;
}

.classy-nav-container * {
  box-sizing: border-box;
}

.classy-nav-container a {
  transition-duration: .5s;
  color: #000000;
  display: inline-block;
}

.classy-nav-container a:focus, .classy-nav-container a:hover {
  transition-duration: .5s;
}

.classynav ul li a span {
  position: relative;
  padding: 0 14px;
}

.classynav ul li a span::after {
  content: "";
  font-size: 12px;
  color: #000000;
  position: absolute;
  top: 16px;
}

.classynav ul li a span.News {
  position: relative;
}

.classynav ul li a span.News::after {
  content: "News";
  right: 34px;
}

.classynav ul li a span.About {
  position: relative;
}

.classynav ul li a span.About::after {
  content: "About us";
  right: 22px;
}

.classynav ul li a span.Product {
  position: relative;
}

.classynav ul li a span.Product::after {
  content: "Product";
  right: 26px;
}

.classynav ul li a span.shop {
  position: relative;
}

.classynav ul li a span.shop::after {
  content: "Hefong shop";
  right: 12px;
}

.classynav ul li a span.contact {
  position: relative;
}

.classynav ul li a span.contact::after {
  content: "Contact us";
  right: 19px;
}

.classynav ul li a span.Pre {
  position: relative;
}

.classynav ul li a span.Pre::after {
  content: "Pre order";
  right: 24px;
}

.classy-nav-container .classynav ul li.Main:hover {
  background: #d3084f99;
  border-radius: 50px;
}

.classy-navbar .nav-brand {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.classy-navbar .nav-brand:focus, .classy-navbar .nav-brand:hover {
  font-size: 26px;
  font-weight: 500;
}

.classy-nav-container.classy-sticky {
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.classy-nav-container.box-skins .classynav > ul > li > a {
  color: #ffffff;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.breakpoint-off .classynav {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
}

.classy-navbar {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
  width: 100%;
}

.classy-menu, .logo {
  width: 100%;
  display: flex;
  justify-content: right;
  margin: 10px 0;
}

.classynav ul li {
  display: inline-block;
  clear: both;
  position: inherit;
  z-index: 10;
}

.classynav ul li.cn-dropdown-item {
  position: relative;
  z-index: 10;
}

.classynav ul li.cn-dropdown-item ul li {
  position: relative;
  z-index: 10;
}

.classynav ul li ul li {
  display: block;
}

.classynav ul li ul li a {
  padding: 0 20px;
}

.classynav ul li a {
  padding: 0 12px;
  display: block;
  height: 52px;
  font-size: 18px;
  line-height: 34px;
}

.classynav ul li .megamenu li a {
  padding: 0 12px;
}

.classynav ul li div.single-mega a {
  height: auto;
  line-height: 1;
}

.icon-classy-nav-down-arrow {
  font-family: 'fontello';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-classy-nav-down-arrow:before {
  content: "";
}

.classynav ul li.has-down > a:after, .classynav ul li.megamenu-item > a:after {
  font-family: 'fontello';
  content: "\e807";
  font-size: 18px;
  color: #000000;
  padding-left: 5px;
  transition-duration: 0.5s;
  display: none;
}

.classynav ul li ul li.has-down > a::after {
  -webkit-transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 3;
  color: #FFF;
}

.classy-btn {
  position: relative;
  z-index: 1;
  min-width: 120px;
  padding: 0 25px;
  line-height: 42px;
  height: 42px;
  border-radius: 50px;
  color: #ffffff !important;
  margin-left: 30px;
  text-align: center;
}

.classycloseIcon, .dd-trigger {
  position: absolute;
  display: none;
}

.classy-btn:focus, .classy-btn:hover {
  box-shadow: 0 0 10px #000000;
}

.dd-trigger {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 500;
  border-radius: 0;
}

.classycloseIcon {
  top: 20px;
  right: 20px;
  z-index: 12;
}

.classycloseIcon .cross-wrap {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
}

.classycloseIcon .cross-wrap span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background: #FFF;
}

.classycloseIcon .cross-wrap span.top {
  top: 12px;
  left: 0;
  transform: rotate(45deg);
}

.classycloseIcon .cross-wrap span.bottom {
  bottom: 12px;
  left: 0;
  transform: rotate(-45deg);
}

.classy-navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.classy-navbar-toggler .navbarToggler {
  display: inline-block;
  cursor: pointer;
}

.classy-navbar-toggler .navbarToggler span {
  position: relative;
  background-color: #FFF;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-top: 7px;
  padding: 0;
  transition-duration: .3s;
  width: 30px;
  cursor: pointer;
}

.classy-navbar-toggler .navbarToggler.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  top: 8px;
}

.classy-navbar-toggler .navbarToggler.active span:nth-of-type(2) {
  opacity: 0;
}

.classy-navbar-toggler .navbarToggler.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  top: -8px;
}

.classynav ul li .megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  z-index: 200;
  box-shadow: 0 1px 4px #000000;
}

.classynav ul li .megamenu .single-mega.cn-col-5 {
  width: 20%;
  float: left;
  padding: 15px;
  border-right: 1px solid #ffffff;
}

.classynav ul li .megamenu .single-mega.cn-col-5:last-of-type {
  border-right: none;
}

.classynav ul li .megamenu .single-mega.cn-col-4 {
  width: 25%;
  float: left;
  padding: 15px;
  border-right: 1px solid #ffffff;
}

.classynav ul li .megamenu .single-mega.cn-col-4:last-of-type {
  border-right: none;
}

.classynav ul li .megamenu .single-mega.cn-col-3 {
  width: 33.3333334%;
  float: left;
  padding: 15px;
  border-right: 1px solid #ffffff;
}

.classynav ul li .megamenu .single-mega.cn-col-3:last-of-type {
  border-right: none;
}

.classynav ul li .megamenu .single-mega .title {
  font-size: 14px;
  border-bottom: 1px solid #ffffff;
  padding: 8px 12px;
}

.classynav ul li .dropdown li a {
  border-bottom: 1px solid #FFF;
  line-height: 20px;
  padding-top: 6px;
}

.classynav ul li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #FFF;
}

.classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.classynav ul li .dropdown li a {
  color: #FFF;
}

.breakpoint-off .classynav {
  display: flex;
  align-items: center;
}

.breakpoint-off .classynav ul li .dropdown {
  width: 180px;
  position: absolute;
  background-color: #d3084f99;
  top: 120%;
  left: 0;
  z-index: 100;
  border-radius: 15px;
  height: auto;
  box-shadow: 0 1px 5px #000000;
  transition-duration: .3s;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown {
  top: 10px;
  left: 180px;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
}

.breakpoint-off .classynav ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown, .breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: -10px;
}

.breakpoint-off .classynav ul li .megamenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 120%;
  background-color: #ffffff;
  z-index: 200;
  box-shadow: 0 1px 4px #000000;
  transition-duration: 0.3s;
}

.breakpoint-off .classynav ul li.megamenu-item:focus .megamenu, .breakpoint-off .classynav ul li.megamenu-item:hover .megamenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.breakpoint-on .classy-navbar-toggler, .breakpoint-on .classycloseIcon {
  display: block;
}

.breakpoint-on .classy-navbar .classy-menu {
  background-color: #DEBA74;
  position: fixed;
  top: 0;
  left: -800px;
  z-index: 1000;
  width: 300px;
  height: 100%;
  transition-duration: .5s;
  padding: 0;
  box-shadow: 0 5px 20px #000000;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}

.breakpoint-on .classynav ul li .dropdown, .breakpoint-on .classynav ul li .megamenu {
  position: relative;
  left: 0;
  box-shadow: none;
  width: 100%;
  top: 0;
}

.breakpoint-on .classy-navbar .classy-menu.menu-on {
  left: 0;
}

.breakpoint-on .classynav ul li {
  display: block;
  position: relative;
  clear: both;
  z-index: 10;
}

.breakpoint-on .classynav ul li a {
  padding: 0 10px;
  height: 38px;
  line-height: 38px;
}

.breakpoint-on .classynav ul li .dropdown li .dropdown {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.breakpoint-on .classynav ul li.megamenu-item {
  position: relative;
  z-index: 10;
}

.breakpoint-on .dd-trigger {
  width: 20%;
  height: 38px;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  display: block;
}

.breakpoint-on .classynav {
  padding-top: 70px;
}

.breakpoint-on .classynav ul li .dropdown {
  display: none;
}

.breakpoint-on .classynav ul li .megamenu {
  display: none;
  z-index: 200;
}

.breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-3, .breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-4, .breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-5 {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #ffffff;
}

.breakpoint-on .classynav > ul > li > a {
  background-color: #DEBA74;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

.dark .classynav ul li .dropdown, .dark .classynav ul li .megamenu {
  background-color: #DE6F75;
}

.dark.classy-nav-container {
  background-color: #DE6F75;
}

.breakpoint-on .classynav ul li ul.dropdown li ul li {
  margin-left: 15px;
}

.breakpoint-on .classy-btn {
  width: calc(100% - 30px);
  margin: 30px 15px;
}

.breakpoint-on .classynav ul li.has-down > a::after, .breakpoint-on .classynav ul li.megamenu-item > a::after {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 5;
  color: #FFF;
}

.breakpoint-on .classynav ul li.has-down.active > a:after, .breakpoint-on .classynav ul li.megamenu-item.active > a:after {
  color: #FFF;
}

.dark.classy-nav-container a {
  color: rgba(255, 255, 255, 0.7);
}

.dark .classynav ul li.megamenu-item > a:after {
  color: #ffffff;
}

.dark.classy-nav-container a:focus, .dark.classy-nav-container a:hover {
  color: #ffffff;
}

.dark .classynav ul li .megamenu .single-mega.cn-col-3, .dark .classynav ul li .megamenu .single-mega.cn-col-4, .dark .classynav ul li .megamenu .single-mega.cn-col-5 {
  border-right: 1px solid #707070;
}

.dark .classynav ul li.megamenu-item ul li a {
  border-bottom: none;
}

.dark .classynav ul li .megamenu .single-mega .title {
  color: #ffffff;
  border-bottom: 1px solid #707070;
}

.dark .classy-navbar-toggler .navbarToggler span {
  background-color: #ffffff;
}

.dark.breakpoint-on .classy-navbar .classy-menu {
  background-color: #DE6F75;
}

.dark .classycloseIcon .cross-wrap span {
  background-color: #ffffff;
}

.dark.breakpoint-on .classynav > ul > li > a {
  background-color: #DE6F75;
  border-bottom: 1px solid #707070;
}

.dark.breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-3, .dark.breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-4, .dark.breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-5 {
  border-bottom: 1px solid #707070;
  border-right: none;
}

.dark .classynav ul li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li a {
  border-bottom: 1px solid #707070;
}

.dark .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:last-child a {
  border-bottom: none;
}

.right.breakpoint-on .classy-navbar .classy-menu {
  left: auto;
  right: -310px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown, .right.breakpoint-on .classy-navbar .classy-menu.menu-on {
  left: auto;
  right: 0;
}

.dropdown-rtl .classynav ul li .megamenu .single-mega .title, .dropdown-rtl .classynav ul li a {
  text-align: right;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown {
  right: 180px;
  left: auto;
  opacity: 0;
  visibility: hidden;
  top: 10px;
}

.dropdown-rtl.breakpoint-off .classynav ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 90%;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown, .dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-off .classynav ul li .dropdown li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.dropdown-rtl.breakpoint-on .classynav ul li ul.dropdown li ul li {
  margin-left: 0;
  margin-right: 15px;
}

@media screen and (max-width: 1550px) {
  .classynav ul li a {
    padding: 0 2px;
  }
}

@media screen and (max-width: 1290px) {
  .classynav ul li a {
    padding: 0 0px;
  }
  .classynav ul li a span {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  .nav_contact .QR {
    margin-right: 6px;
  }
  .nav_contact .QR img {
    width: 50px;
  }
}

@media screen and (max-width: 991px) {
  .classynav ul li.has-down > a:after, .classynav ul li.megamenu-item > a:after {
    display: block;
  }
  .nav_contact {
    display: none !important;
  }
  .mob_nav_contact {
    display: block;
  }
  .nav_pay {
    display: none !important;
  }
  .classy-navbar {
    position: relative;
  }
  .classy-navbar .classy-navbar-toggler {
    position: absolute;
    left: 15px;
    top: 0;
  }
  .classy-navbar .classy-menu {
    margin: 0;
  }
  .classynav ul li a span {
    position: relative;
  }
  .classynav ul li a span::after {
    content: "";
    font-size: 12px;
    color: #FFF;
    position: absolute;
    top: -5px;
  }
  .classynav ul li a span.News::after {
    right: -49px;
  }
  .classynav ul li a span.About::after {
    right: -70px;
  }
  .classynav ul li a span.Product::after {
    right: -63px;
  }
  .classynav ul li a span.shop::after {
    right: -92px;
  }
  .classynav ul li a span.contact::after {
    right: -79px;
  }
  .classynav ul li a span.Pre::after {
    right: -72px;
  }
}

@media screen and (max-width: 667px) {
  .breakpoint-on .classy-navbar .classy-menu {
    width: 100%;
  }
  .nav-bg ul li {
    padding: 0 16px;
  }
}

@media screen and (max-width: 375px) {
  .nav-bg ul li {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=menu-center.css.map */